html,body {background-color: #fff; 
			color: #333;
			max-width: 100%}
body{font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; margin:0}
a.brand{
	background: url(images/logo.png) no-repeat center left;
	text-indent: -9999px;
	position: absolute;
	display: inline-block;
	margin-top: 15px;
	width: 200px
}
h1,h2,h3,h4,h5,h6{
	margin: 10px 0;
	color:#2d3e52;
	font-weight: bold;
	line-height: 20px;
}
h1,h2,h3 {
  line-height: 40px;
}
h1{font-size: 38.5px}
h2{font-size: 31.5px}
h3{font-size: 24.5px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 11.9px}

section h3,
section h4,
section h5,
section h6 {
	padding: 0;
	clear: both;
	line-height: 1.2em;
	margin-top: 2em;
}
.navbar .nav > li a{color:#333;}
.navbar .nav > li a:hover{color:#01B7F2;}
.nav li.active a {color: #01B7F2}
.container{
	width: 80%; 
	margin: 0 auto
}
@media (max-width: 1170px){
	.container{
		width: 90%;
	}
}
/* Стили меню navbar*/
.navbar{
	background-color: #fff;
	height: 50px;
	width:100%;
	position: fixed;
	box-shadow: 2px 2px 5px silver
}
.nav{
	padding: 15px;
	margin: 0 0 0 200px;	
}
.nav li{
	padding-right: 20px;
	display: inline-block;
	list-style: none;
}
.nav li a{
	text-decoration:none
}
ul.nav ul{display: none}

@media (max-width: 1015px){
	
}
/* Конец стилей меню navbar*/
#content{
	padding-top: 200px
}
/* Стили слайдер текста*/
#slidetext{
	min-height: 600px;
}
.masthead h1{
	margin-top: 48px
}
.welcome{
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  border-radius: 6px;
}
.slogan{color: blue}
/* Конец стилей слайдер текста*/
.content-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid silver;
}
#reservation{
	margin-top: 300px
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table thead th {
  vertical-align: bottom;
}
.table th, .table td {
  padding: 4px 5px;
  border-left: 1px solid #dddddd
}
.table {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
thead{background-color: silver}
.table thead:first-child tr:first-child > th:first-child,
.table tbody:first-child tr:first-child > td:first-child,
.table tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}
.table thead:first-child tr:first-child > th:last-child,
.table tbody:first-child tr:first-child > td:last-child,
.table tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}
.table thead:last-child tr:last-child > th:first-child,
.table tbody:last-child tr:last-child > td:first-child,
.table tbody:last-child tr:last-child > th:first-child,
.table tfoot:last-child tr:last-child > td:first-child,
.table tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}
.table thead:last-child tr:last-child > th:last-child,
.table tbody:last-child tr:last-child > td:last-child,
.table tbody:last-child tr:last-child > th:last-child,
.table tfoot:last-child tr:last-child > td:last-child,
.table tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}
.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table tbody tr:hover > td,
.table tbody tr:hover > th {
  background-color: silver;
}

/*font: [font-style] [font-variant] [font-weight] [font-size]/[line-height] [font-family];*/


